@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss';

body {
	font-family: 'Inter', sans-serif;
}

@theme {
	/* ─── Surface ─── */
	--color-surface: #e5e5e5;
	--color-on-surface: #171717;
	--color-on-surface-variant: #737373;
	--color-surface-container-lowest: #d4d4d4;
	--color-surface-container-low: #f5f5f5;
	--color-surface-container: #fafafa;
	--color-surface-container-high: #ffffff;
	--color-surface-container-highest: #ffffff;

	/* ─── Primary ─── */
	--color-primary: #0485f7;
	--color-on-primary: #ffffff;
	--color-primary-hover: #3592f9;
	--color-primary-soft: #008ff519;
	--color-on-primary-soft: #0b73ce;
	--color-primary-soft-hover: #009eff2a;

	/* ─── Secondary ─── */
	--color-secondary: #7c3af7;
	--color-on-secondary: #ffffff;
	--color-secondary-hover: #9257f9;
	--color-secondary-soft: #7c3af719;
	--color-on-secondary-soft: #6020ce;
	--color-secondary-soft-hover: #7c3af72a;

	/* ─── Tertiary ─── */
	--color-tertiary: #4b6ef5;
	--color-on-tertiary: #ffffff;
	--color-tertiary-hover: #6f88f7;
	--color-tertiary-soft: #4b6ef519;
	--color-on-tertiary-soft: #2a4ece;
	--color-tertiary-soft-hover: #4b6ef52a;

	/* ─── Danger ─── */
	--color-danger: #d60d0d;
	--color-on-danger: #ffffff;
	--color-danger-hover: #f93535;
	--color-danger-soft: #f7040419;
	--color-on-danger-soft: #ce0b0b;
	--color-danger-soft-hover: #f704042a;

	/* ─── Warning ─── */
	--color-warning: #f78504;
	--color-on-warning: #ffffff;
	--color-warning-hover: #f99735;
	--color-warning-soft: #f7850419;
	--color-on-warning-soft: #ce6c0b;
	--color-warning-soft-hover: #f785042a;

	/* ─── Success ─── */
	--color-success: #04c957;
	--color-on-success: #ffffff;
	--color-success-hover: #35d472;
	--color-success-soft: #04c95719;
	--color-on-success-soft: #0ba348;
	--color-success-soft-hover: #04c9572a;
}

.dark {
	/* ─── Surface ─── */
	--color-surface: #0a0a0a;
	--color-on-surface: #fafafa;
	--color-on-surface-variant: #a1a1a1;
	--color-surface-container-lowest: #171717;
	--color-surface-container-low: #262626;
	--color-surface-container: #404040;
	--color-surface-container-high: #525252;
	--color-surface-container-highest: #525252;

	/* ─── Primary ─── */
	--color-primary: #0485f7;
	--color-on-primary: #ffffff;
	--color-primary-hover: #3592f9;
	--color-primary-soft: #0077ff3a;
	--color-on-primary-soft: #70b8ff;
	--color-primary-soft-hover: #0075ff57;

	/* ─── Secondary ─── */
	--color-secondary: #7c3af7;
	--color-on-secondary: #ffffff;
	--color-secondary-hover: #9257f9;
	--color-secondary-soft: #7700ff3a;
	--color-on-secondary-soft: #c49bff;
	--color-secondary-soft-hover: #7700ff57;

	/* ─── Tertiary ─── */
	--color-tertiary: #4b6ef5;
	--color-on-tertiary: #ffffff;
	--color-tertiary-hover: #6f88f7;
	--color-tertiary-soft: #1a44ff3a;
	--color-on-tertiary-soft: #9eb2ff;
	--color-tertiary-soft-hover: #1a44ff57;

	/* ─── Danger ─── */
	--color-danger: #d60d0d;
	--color-on-danger: #ffffff;
	--color-danger-hover: #f93535;
	--color-danger-soft: #ff00003a;
	--color-on-danger-soft: #ff8080;
	--color-danger-soft-hover: #ff000057;

	/* ─── Warning ─── */
	--color-warning: #f78504;
	--color-on-warning: #ffffff;
	--color-warning-hover: #f99735;
	--color-warning-soft: #ff7a003a;
	--color-on-warning-soft: #ffbb70;
	--color-warning-soft-hover: #ff7a0057;

	/* ─── Success ─── */
	--color-success: #04c957;
	--color-on-success: #ffffff;
	--color-success-hover: #35d472;
	--color-success-soft: #00ff5e3a;
	--color-on-success-soft: #6fffa0;
	--color-success-soft-hover: #00ff5e57;
}
